{% extends "base.html" %}
{% block content %}

<!-- Your code here ! -->
<div id="page-wrapper" class="">
    <div id="page-loader" class="ui active huge text loader">Loading</div>
    <div id="content" class="hidden fade-in">
        <div id="smart-rail" class="ui left internal rail">
            <div class="ui segment">
                <div class="ui link list">
                    <div class="header">Table of Contents</div>
                    <a id="intro-container-link" class="active item" onclick="Scroll.scrollToElement('intro')">
                        Introduction
                    </a>
                    <a id="master-container-link" class="item" onclick="Scroll.scrollToElement('master')">
                        Master Chart
                    </a>
                    {% for number in range(10) %}
                        <a class="item" 
                        onclick="Scroll.scrollToElement('sensor{{number}}-container')"
                        id='sensor{{number}}-container-link'>
                            Sensor{{ number }}
                        </a>
                    {% endfor %}
                    </div>
            </div>
        </div>
        <div id="intro-container" class="ui segment ss-section">
            <div id="intro">
                Lorem ipsum
            </div>
        </div>
        <div id="master-container" class="sensor-readings-container ui segment ss-section">
            <h3>All Sensors</h3>
            <div class="ui segment" id="master"></div>
        </div>
        {% for number in range(10) %}
            <div id="sensor{{number}}-container" class="sensor-readings-container ui segment ss-section">
                <h3 id="sensor{{number}}-header">Sensor {{ number }}</h3>
                <div class="ui grid">
                    <div class="ten wide column">
                        <div class="reading-chart ui segment" id="sensor{{number}}-readings-chart"></div>
                    </div>
                    <div class="five wide computer only column">
                        <div class="sensor-statistics ui segment" id="sensor{{number}}-statistics"></div>
                    </div>
                    <div class="five wide computer only column">
                        <div class="distribution-chart ui segment" id="sensor{{number}}-total-distribution-chart"></div>
                    </div>
                    <div class="five wide computer only column">
                        <div class="distribution-chart ui segment" id="sensor{{number}}-distributed-polar-chart"></div>
                    </div>
                    <div class="five wide computer only column">
                        <div class="distribution-chart ui segment" id="sensor{{number}}-distributed-percent-chart"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}