{% extends "base.html" %}
{% block content %}

<!-- Your code here ! -->
<div id="page-wrapper" class="">
    <div id="page-loader" class="ui active huge text loader">Loading</div>
    <div id="content" class="hidden fade-in">
        <div id="smart-rail" class="ui left internal rail">
            <div class="ui segment">
                <div class="ui link list">
                    <div class="header">Table of Contents</div>
                    <a id="intro-container-link" class="active item" onclick="Scroll.scrollToElement('intro')">
                        Introduction
                    </a>
                    <a id="master-container-link" class="item" onclick="Scroll.scrollToElement('master')">
                        Master Chart
                    </a>
                    {% for number in range(10) %}
                        <a class="item" 
                        onclick="Scroll.scrollToElement('sensor{{number}}-container')"
                        id='sensor{{number}}-container-link'>
                            Sensor{{ number }}
                        </a>
                    {% endfor %}
                    </div>
            </div>
        </div>
        <div id="intro-container" class="ui segment ss-section">
            <div id="intro">
                <h3>Introduction</h3>
                <p>Thank you for giving me the opportunity to prove myself.</p>

                <h5>Assumptions</h5>
                <p>After reading description and examining data, the change in class label considered as a shift from a control group to test group, or defected batch in a production line.</p>
                
                <h5>Used Libraries & Choices</h5>
                <p>
                    Besides HighCharts that is mentioned in task description as a preferable chart library, A few Semantic UI components are used for navigating, grouping and showing loading state. 
                    Considering the scope of work, utility libraries such as jQuery are avoided to keep bundle size minimum.
                </p>
                
                <h5>Strengths & Tradeoffs</h5>
                <p>
                    Choosing plain JavaScript for DOM manipulation and other utilities helped to keep the bundle size noteworthily low and make application fast.
                    Well structured and clean code provides easy adaptation for future crew members.
                    On the dark side, time is traded for low bundle size and simplicity. Another trade was using classes `Sensor.js` which led a compatibility issue with the IE11 browser.
                </p>
                              
                <h5>Possible Improvements</h5>
                <p>
                    Engaging the engineers and/or scientists who will daily use the interface and understand their needs and priorities would improve the application's functionality. 
                    In addition to enabling the engagement of stakeholders, providing live data flow via a WebSocket might help decision-makers to immediately respond unexpected readings.
                    Another possible improvement is reusablity of the functions which took low priority due to pressure of the deadline and current work load.  
                </p>
            </div>
        </div>
        <div id="master-container" class="sensor-readings-container ui segment ss-section">
            <h3>All Sensors</h3>
            <div class="ui segment" id="master"></div>
        </div>
        {% for number in range(10) %}
            <div id="sensor{{number}}-container" class="sensor-readings-container ui segment ss-section">
                <h3 id="sensor{{number}}-header">Sensor {{ number }}</h3>
                <div class="ui grid">
                    <div class="ten wide column">
                        <div class="reading-chart ui segment" id="sensor{{number}}-readings-chart"></div>
                    </div>
                    <div class="five wide computer only column">
                        <div class="sensor-statistics ui segment" id="sensor{{number}}-statistics"></div>
                    </div>
                    <div class="five wide computer only column">
                        <div class="distribution-chart ui segment" id="sensor{{number}}-total-distribution-chart"></div>
                    </div>
                    <div class="five wide computer only column">
                        <div class="distribution-chart ui segment" id="sensor{{number}}-distributed-polar-chart"></div>
                    </div>
                    <div class="five wide computer only column">
                        <div class="distribution-chart ui segment" id="sensor{{number}}-distributed-percent-chart"></div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>


{% endblock %}